*{
  margin: 0;
  padding: 0;
}



#a{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:1fr 1fr 1fr;
  background-color: #3332CC;
}

#logo{
  height: 300px;
  max-width: 400px;
  grid-column: 1/2;
  grid-row: 1/2;
  float: left;
  borderRadius: 0% 25% 0% 25%;
  position: relative
}
.pictureroll{
  /* border: 1px solid blue; */
  height: 300px;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation-name: pictures;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  background-position: center;
  /* margin: 9%;
  margin-left: 60%; */
  /* position: absolute; */
  border-radius: 35%;
  grid-column: 3/4;
  grid-row: 2/4;
}
@keyframes pictures{
  0% {background-image: url('images/office1.jpeg');}
  10% {background-image: url('images/office2.jpeg');}
  20% {background-image: url('images/office3.jpeg');}
  30% {background-image: url('images/office4.jpeg');}
  40% {background-image: url('images/office5.jpeg');}
  50% {background-image: url('images/office6.jpeg');}
  60% {background-image: url('images/office7.jpeg');}
  70% {background-image: url('images/office8.jpeg');}
  80% {background-image: url('images/office9.jpeg');}
  90% {background-image: url('images/office10.jpeg');}
  100% {background-image: url('images/office11.jpeg');}
}

@media all and (max-width: 750px){
  .pictureroll{  height: 0;  width: 0;}
  #pA{grid-column: 1/4; padding: 5% 10%; width: 100%;}
}

#pA{
  /* border: 1px solid green; */
  width: 75%;
  margin-bottom: 5%;
  padding-left: 10%;
  padding-top: 15%;
  /* position: relative; */
  grid-column: 1/3;
  grid-row: 2/4;
  color: white;
}

#b{
  background-color: white;
  padding-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:1fr 1fr;
  /* height: 75%; */
}

#pB{
  /* text-align: justify; */
  padding: 5% 10%;
  /* width: 75%; */
  grid-column: 1/4;
  grid-row: 2/3;
  color: #3332CC;
}
@media all and (max-width: 750px){
  #graph{display: none;}
  #pB{grid-row: 1/4;}
}
#graph{
  /* float: left; */
  padding-top: 5%;
  /* text-align: center; */
  background-image: url('images/graph.png');
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  max-height: 200px;
  grid-row: 1/2;
  grid-column: 2/3;
  /* margin-top: 7.5%; */
  /* margin-left: 5%; */
}

#c{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
    background-color: #3332CC;
}


#pC{
  grid-column: 1/4;
  grid-row: 1/3;
  /* height: 100%; */
  color: white;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 5% 10%;
}

.footer{
  grid-column: 1/4;
  grid-row: 3/4;

}
#contact{
  text-align: center;
  font-size: 1.5em;
}

#foot{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#facebook{
  max-width: 100px;
  max-height: 100px;
  grid-column: 1/2;
  border-radius: 25%;
  margin-left: 25%;
}
#twitter{
  max-width: 100px;
  max-height: 100px;
  grid-column: 2/3;
  border-radius: 25%;
  margin-left: 25%;
}
